.shopTitle {
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}
.description {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 250px;
  height: 350px;
  margin: 130px 20px 130px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /*Align text within the container to center*/
}

.product img {
  width: 110%; /*Set the width to 100% of the parent container (.product)*/
  height: 110%; 
  object-fit: cover; /*You can use object-fit property to control how images are scaled to fit the dimensions*/
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
